<%= javascript_pack_tag 'frontend' %>


<div class="row">
  <div class="col-8 col-md-8">
    <div class = "game-board">
      <% for i in (@width).downto(1) %>
        <% for j in (1).upto(@height) %>
          <div class="box" id="<%= j %>_<%= i %>"></div>
        <% end %>
      <% end %>
    </div>
    <p class="feedback"></p>
  </div>
  <div class="col-4 col-md-4">
    <%= image_tag "compass.png", :class => "compass_img"  %>
    <div class="input_form">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="x_cor">X Cordinate</label>
            <input type="number" class="form-control" id="x_cor" placeholder="x_cor" min="1" max="5" value="0" >
          </div>
          <div class="form-group col-md-6">
            <label for="y_cor">Y Cordinate</label>
            <input type="number" class="form-control" id="y_cor" placeholder="y_cor" min="1" max="5" value="0">
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="direction">Direction</label>
          <select id="direction" class="form-control">
            <option selected>north</option>
            <option selected>south</option>
            <option selected>east</option>
            <option selected>west</option>
          </select>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" onclick="input_form_submit(event)" id="input_form_submit_id" class="btn btn-primary">Place</button>
          </div>
        </div>
      </form>
      <button type="button" onclick="turn_left(event)" id="input_turn_left" class="btn btn-primary">Turn left</button>
      <button type="button" onclick="turn_right(event)" id="input_turn_right" class="btn btn-primary">Turn right</button>
      <button type="button" onclick="move_forward(event)" id="input_move_forward" class="btn btn-primary">Move</button>
      <button type="button" onclick="view_current_position(event)" id="input_current_position" class="btn btn-primary">Report</button>
    </div>
  </div>
</div>
